@charset "utf-8";
/* CSS Document */
body{background:url("../images/bg.jpg");color:#fff;}
.mainnav{width:100%;}
.mainnav-list{width:164px;height:300px;position:fixed;left:60px;top:200px;z-index:1;}
.mainnav-list img{display:block;}
.mainnav-list ul{width:110px;height:200px;background:#93F;margin:0 auto;}
.mainnav-list ul li{list-style:none;width:100%;height:40px;font-size:12px;font-famliy:"微软雅黑";text-align:center;line-height:40px;background:url("../images/bg1.png") no-repeat;
cursor:pointer;
}
.con{width:100%;height:100%;position:fixed;left:0;top:80px;z-index:-1;}
.con1{width:850px;height:100%;margin:0 auto;
text-indent:30px;text-align:left;line-height:30px;
}
.con1 h1{color:#99F;text-align:center;}
